<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Messaging"
             type="Messaging.Configuration.MessagingConfigurationSection, Messaging"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
  </configSections>

  <Messaging chunk-size="4096"
                   host-name="51.145.179.148"
                   port="5672"
                   user="user"
                   password="bitnami"
                   data-queue="dataqueue">
  </Messaging>
</configuration>