<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DocumentsJoiner"
             type="DocumentsJoiner.Configuration.DocumentsJoinerConfigurationSection, DocumentsJoiner"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
  </configSections>

  <DocumentsJoiner broken-files-folder="D:/temp/documents-joiner/broken/"
                   timeout="60000"
                   barcode="1111111"
                   attempts="100"
                   batches="D:/temp/documents-joiner/batches/">
    <watchers>
      <add path="D:/temp/documents-joiner/watch1/" filter="*_*.*" />
    </watchers>
  </DocumentsJoiner>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>