<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DocumentsJoiner"
             type="DocumentsJoiner.Configuration.DocumentsJoinerConfigurationSection, DocumentsJoiner"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
    <section name="Messaging"
             type="Messaging.Configuration.MessagingConfigurationSection, Messaging"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
  </configSections>

  <Messaging chunk-size="4096"
             host-name="51.145.179.148"
             port="5672"
             user="user"
             password="bitnami"
             data-queue="dataqueue">
  </Messaging>

  <DocumentsJoiner broken-files-folder="D:/documents-joiner/broken/"
                   timeout="100000"
                   barcode="1111111"
                   attempts="100"
                   opening-file-period="50"
                   batches="D:/documents-joiner/batches/">
    <watchers>
      <add path="D:/documents-joiner/watch1/" filter="*_*.*" />
    </watchers>
  </DocumentsJoiner>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>