<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <DocumentsJoiner broken-files-folder="D:/temp/documents-joiner0/broken/"
                   timeout="60000"
                   barcode="1111111"
                   attempts="100"
                   opening-file-period="50"
                   batches="D:/temp/documents-joiner0/batches/"
                   
                   xdt:Transform="Replace">
    <watchers>
      <add path="D:/temp/documents-joiner/watch1/" filter="*_*.*" />
    </watchers>
  </DocumentsJoiner>
</configuration>