<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DocumentsJoiner"
             type="DocumentsJoiner.Configuration.DocumentsJoinerConfigurationSection, DocumentsJoiner"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
    <section name="Messaging"
             type="Messaging.Configuration.MessagingConfigurationSection, Messaging"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true" />
  </configSections>
  <Messaging chunk-size="4096"
             host-name="51.145.179.148"
             port="5672"
             user="user"
             password="bitnami"
             data-queue="dataqueue"
             status-queue="statusqueue"
             commands-exchange="commands">
  </Messaging>
  <DocumentsJoiner broken-files-folder="D:/temp/documents-joiner/broken/"
                   timeout="60000"
                   barcode="1111111"
                   attempts="100"
                   opening-file-period="50"
                   batches="D:/temp/documents-joiner/batches/">
    <watchers>
      <add path="D:/temp/documents-joiner/watch1/" filter="*_*.*" />
    </watchers>
  </DocumentsJoiner>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>